build/
.gradle/
.idea/
*.iml
.DS_Store
.env
*.log
logs/
.minecraft*/
.native-build/
bin/
saves/
launch-cli.sh
run.sh
debug-launch.sh
.project
.classpath
.settings/
.eclipse/
**/.project
**/.classpath
**/.settings/
**/.eclipse/
common/src/main/resources/natives/*.dylib
common/src/main/resources/natives/natives-version.properties
common/src/main/resources/META-INF/licenses/kosmickrisp/
